@import
  'utils/variables',
  'utils/functions',
  'utils/mixins',
  'utils/placeholders';

@import
  'base/_base',
  'base/normalize',
  'base/typography';

@import
  'layout/navigation',
  'layout/_media',
  'layout/grid',
  'layout/header',
  'layout/main',
  'layout/footer',
  'layout/sidebar',
  'layout/forms';

@import
  'components/carousel',
  'components/cover',
  'components/dropdown',
  'components/video',
  'components/button';

@import
  'pages/home',
  'pages/catalog',
  'pages/info',
  'pages/contact';