footer {
  padding: 60px 0;
  @media screen and (min-width: 320px) and (max-width: 799px) {
    padding: 5vw 0;
  }
  ul {
    padding-bottom: 30px;
  }
  li {
    float: left;
    padding-right: 30px;
   @media screen and (min-width: 320px) and (max-width: 599px) {
    padding: 10px 0;
  }
  }
    .social {
      img {
        max-width: 260px;
        width: 100%;
      }
    }
  }

.authors li{
  text-align: center;
  @media screen and (min-width: 320px) and (max-width: 599px) {
    float: none;
    text-align: center;


  }
}