//////////////////////////////////SEARCH////////////////////////////////

.search {
  width: 35%;
  position: relative;
  float:left;
  @media screen and (min-width:320px) and (max-width:599px) {
    width: 60%;

  }
}

.search input {
  border: none;
}

.search .input {
  width: 100%;
  padding: 10px 37px 9px 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
  background-color: rgba(104 , 95, 83, 0.25);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 16px;
  @media screen and (min-width:320px) and (max-width:599px) {
    padding:5px;

  }
}


.search .input:focus {

  background: white;
  color: #333;
}

.search .submit {
  position: absolute;
  top: 10%;
  right: 10px;
  max-width: 37px;
  width:100%;
  height: 90%;
  cursor: pointer;
  background: url(../images/header/search-icon.png)  no-repeat;
  background-size: cover;
  @media screen and (min-width:320px) and (max-width:599px) {
    display: none;
  }
}

.search .submit:hover {
  opacity: 0.8;
}

input[type="search"] {
  -webkit-appearance: none;
}
//////////////////////////////////SEARCH////////////////////////////////


//////////////////////////////////WELCOME////////////////////////////////

.feedback {
  width: 100%;
  position: relative;
  float:left;
  padding: 15px 0;
  input {
    border: none;
  }
  li{
    width: 25%;
    padding-right:30px;
    display: inline-block;
    float: left;
    @media screen and (min-width:320px) and (max-width:799px) {
      display:block;
      float: none;
      width: 100%;
      max-width: 230px;
      padding: 10px 0;
      margin: auto;
    }
  }
}


.feedback .input {
  @include text(1.125em, 400, 1em);
  font-family: 'Roboto', sans-serif;
  color: #afafaf;
  width: 100%;
  padding: 8px 37px 9px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}


.feedback .input:focus {
  background-color: white;
  color: #333;
}


.feedback .submit {
  cursor: pointer;
  @include text(1.125em, 400, 1em);
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 -1px 0 rgba(171, 133, 0, 0.75);
  color:white;
  background-color: #dfad00;
  box-shadow: 0 2px 0 #ab8500;
  padding:10px 30px;
  width: 100%;
  max-width: 230px;
}

.feedback .submit:hover {
  opacity: 0.8;
}

input[type="search"] {
  -webkit-appearance: none;
}

//////////////////////////////////WELCOME////////////////////////////////
