
header{
  padding:32px 0 ;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.head-nav{

  ul{
    float: right;
    position: relative;
  }

  ul{
    float: right;
    max-width:60%;
    padding-right: 20px;
    cursor: pointer;
  }
  li{
    display: inline-block;
    text-align: center;
    a{
      padding:10px;
      width:100%;
      display: block;
      box-sizing: content-box;
      &:hover{
        color: #dfad00;
      }
    }
  }
}
.head-nav .recomendation:hover .recomend{
  display:block;
}


.basket{
  float: right;
  @media screen and (min-width:320px) and (max-width:599px){
    padding-left: 10px;
}

}

