.sidebar{
  width: 25%;
  float: left;
  padding-right:30px;
  li{
    border-bottom: 1px solid white;
    background: #dfad00;
  }

  li a{
    @include text(0.875em, 900, inherit);
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: block;
    padding: 30px 40px ;
    &:hover{
      opacity: 0.7;
    }
  }


  .solt-menu{
    display: none;
    li{
      border-bottom: 0px;
      padding:0 0 10px 30px;
    }
    li a{
      @include text(0.75em, 400, inherit);
      color: #ffde6c;
      padding:0;

    }
  }
  .solt:hover .solt-menu{
    display: block;
  }
}
@media screen and (min-width:320px) and (max-width:599px){
  .sidebar{
    clear:both;
    float:none;
    width: 100%;
    li a{
      padding: 10px 20px ;

    }
  }
  .our-goods{
    li:nth-child(n+4){
      display: none;
    }
  }
}
@media screen and (min-width:600px) and (max-width:1000px){
  .our-goods{
    li:nth-child(n+7){
      display: none;
    }
  }
  .sidebar{
    li a{
      padding: 10px 20px ;

    }
  }
}